/* #8f1419 rojo
#223a86 azul */
/* ---------------Body--------------- */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin:0px;
    line-height: 1.5;
}
.fondoAcordeon{
  background-color:#3e444a
}

.imagenFondo{
  background-image: url("../../img/Background.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover
}
/* a:hover{
  color:#000000
} */
/* ---------------clearboth--------------- */
.clearboth {
  clear: both;
}
/* ---------------Fuente de letra--------------- */
.Arial {
    font-family: Arial, Helvetica, sans-serif;
  }
/* ---------------contenedores--------------- */
.flex-container-center {
  display: flex;
  justify-content: center;
}
.flex-align-center{
  display: flex;
  align-items: center;
}

/* ---------------Colores--------------- */

.color0{
  color:rgb(0, 0, 0);
}
.color1{
  color:#fff
}

.colorA{
  background-color: #fff;
  color:rgb(0, 0, 0);
}
.colorAH{
  color:rgb(212, 212, 212);
  background-color: #000000;
}
.colorAH:hover{
  background-color: #424242;
  cursor:pointer;
}

.colorB{
  background-color: #223a86;
  color:#fff;
}
.colorBH{
  color:#fff;
  background-color: #1e3170;
}
.colorBH:hover{
  color:#fff;
  background-color: #1a2a5f;
  cursor:pointer;
}
.colorC{
  background-color: #8f1419;
  color:#fff;
}
.colorCH{
  color:#fff;
  background-color: #811216;
}
.colorCH:hover{
  background-color: #811216;
  cursor:pointer;
}
.bordeA{
  border: 1px solid #fff;
}
.borde3V{
  border: 3px solid rgb(58, 168, 67);
}
.borde3R{
  border: 3px solid #8f1419;
}
.borde3B{
  border: 3px solid #fff;
}
.borde3A{
  border: 3px solid #223a86;
}
.colorV{
  color: rgb(58, 168, 67)
}
.colorR{
  color: #8f1419
}
.colorB{
  color: #fff
}
.colorA{
  color: #223a86
}
/* --------------ColoresTab------------- */
.tabColor{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.tabColor:hover{
  color: #223a86;
}

/* ---------------Ancho--------------- */
.ancho1{
  width: 20px;
}
.ancho2{
  width: 40px;
}
.ancho3{
  width: 60px;
}
.ancho4{
  width: 80px;
}
.ancho5{
  width: 100px;
}
.ancho6{
  width: 120px;
}
.ancho7{
  width: 140px;
}
.ancho8{
  width: 160px;
}
.ancho9{
  width: 180px;
}

/* ---------------Filas y Columnas--------------- */
.floatright{
  float: right;
}
.floatleft{
  float: left;
}

.fila {
  margin-bottom: 15px;
}

.col {
  min-height: 20px;
  float: left;
}
.col1 {
  width: 8.3%;
}
.col2{
  width: 16.6%;
}
.col3{
  width: 25%;
}
.col4 {
  width: 33.3%;
}
.col5{
  width: 41.6%;
}
.col6 {
  width: 50%;
}
.col7{
  width: 58.3%;
}
.col8 {
  width: 66.6%;
}
.col9 {
  width: 75%;
}
.col10{
  width: 83.3%;
}
.col12{
  width: 100%;
}

.contenido{
  transition: 0.5s;
}
.contenidoAbierto{
  margin-left:300px;
}

.margin3{
  margin: 3px;
}
/* --------------- Ejemplo --------------- /
.ClaseEjemplo {
    background-color: rgb(0, 174, 255); / Color de fondo de un div /
    margin: 100px 20px; / margen externo /
    padding: 20px;  / margen interno /
    border: 4px solid #007db7; / borde del div /
    border-radius: 5px; / Redondeo de un div /
    -webkit-box-shadow: 0px 0px 24px -9px rgba(0,0,0,0.75); / Sombras /
    -moz-box-shadow: 0px 0px 24px -9px rgba(0,0,0,0.75); / Sombras /
    box-shadow: 0px 0px 24px -9px rgba(0,0,0,0.75); / Sombras /
    font-size: 30px; / tamaño letra /
    font-weight: bold; / grosor letra, bold=gruesa /
    color: #005780; / color de letra /
    text-align: center; / centrado de letra /
    cursor: pointer; / icono del mouse /
}

.ClaseEjemplo:hover {
    padding: 25px;
    margin: 95px 15px;
}

/ Posicion div /
.div1 {
    margin-left: 10%;
    text-align: center;
    background-color: #c80000;
    float: left;
    width: 40%;
}
.div2 {
    margin-right: 10%;
    text-align: center;
    background-color: rgb(0, 174, 255);
    float: left;
    width: 40%;
}

.clearboth {
    clear: both;
}

 */