/* ---------------Barra lateral--------------- */
.normLink{
    text-decoration: none;
    display: block;
  }

.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidebarAbierto{
    width: 300px;
}

  .BotonSidebar{
    width: 300px;
    text-align: center;
    padding:13px 0px;
    font-size: 25px;
  }

  .subBotonSidebar{
    width: 282px;
    text-align: center;
    padding:13px 0px;
    font-size: 18px;
    margin: 5px 10px;
  }
  
  .BotonSidebarCerrar{
    text-align: center;
    padding:10px;
    margin-left:250px;
    font-size:25px;
  }
  